<div class="text-center"> 
    <h1 class="font-light py-4 truncate">BlazorASPNETCoreTailwindCSS</h1>
</div>

<div>
    <ul class="">
        <li class="p-4 hover:text-purple-300">
            <NavLink href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li class="p-4 hover:text-purple-300">
            <NavLink href="counter">
                Counter
            </NavLink>
        </li>
        <li class="p-4 hover:text-purple-300">
            <NavLink href="fetchdata">
                Fetch data
            </NavLink>
        </li>
    </ul>
</div>
